@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import "tailwindcss";


body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  font-family: "Outfit", sans-serif; 
  background-color: rgb(255, 252, 237);
 
  }

  .transition-all {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  font-family: 'Cinzel Decorative', serif;
}